.App {
  text-align: center;
}

.bg-custom-gray {
  background-color: #2D2F38;
}

.h-half {
  height: 50%;
  max-height: 50%;
}

.section-responsive-picture {
  width: 200px;
  height: 200px;
}

.responsive-display {
  min-height: 480px;
  height: calc(100vh - 180px);
}

.overflow-y {
  overflow-y: auto;
}

.table-wrapper {
  max-height: 80%;
  max-width: 94%;
  overflow-y: auto;
  margin: auto;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-error {
  border: 1px solid #ff9999;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #BFDEFF;
}

.input-error:focus {
  outline: none;
  box-shadow: 0 0 0 1px #ff9999;
}

@media only screen and (max-width: 640px) {
  .section-responsive-picture {
    width: 150px;
    height: 150px;
  }
}

button {
  background-color: #E0F0FD;
  border: none;
  color: #037CFE;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

button:focus {
  outline: none;
}

button.btn-sm {
  width: 80px;
  height: 28px;
}

button.btn-md {
  width: 128px;
  height: 32px;
}

button.btn-lg {
  width: 248px;
  height: 48px;
}

button:disabled {
  cursor: default;
}

button:hover:enabled {
  background-color: #037CFE;
  border: none;
  color: white;
}